[include]
        path = .gitconfig.local
[user]
        name = hxrxchang
        email = m.y.y.0326.cg@gmail.com
[help]
        autocorrect = 1
[alias]
        overwrite = push --force-with-leas
        co = checkout
	log1 = log --oneline
        br = branch --sort=authordate
        sw = switch
        rs = restore
        st = status
        chp = cherry-pick
        rb = rebase
        df = diff
        cm = commit
        ps = push
        pl = pull
        see = browse
[core]
	excludesfile = ~/.gitignore_global
[pull]
        rebase = false
