[include]
        path = .gitconfig.local
[user]
        name = hxrxchang
        email = m.y.y.0326.cg@gmail.com
[help]
        autocorrect = 1
[alias]
        overwrite = push --force-with-leas
        ow = push origin HEAD --force-with-leas
        co = checkout
	log1 = log --oneline
        br = branch --sort=authordate
        sw = switch
        rs = restore
        st = status
        chp = cherry-pick
        rb = rebase
        df = diff
        cm = commit
        ps = push origin HEAD
        pl = pull
[core]
	excludesfile = ~/.gitignore_global
[pull]
        rebase = false
[init]
        defaultBranch = main
	templateDir = ~/.git-templates/git-secrets
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
