[user]
        name = hxrxchang
        email = m.y.y.0326.cg@gmail.com
[help]
        autocorrect = 1
[alias]
        overwrite = push --force-with-leas
        co = checkout
	log1 = log --oneline
        br = branch --sort=authordate
        sw = switch
        rs = restore
        st = status
        chp = cherry-pick
[core]
	excludesfile = ~/.gitignore_global
